@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
/* import bootstrap to set changes */
// @import "~video-react/styles/scss/video-react"; // or import scss

/* make the customizations */
$theme-colors: (
  "info": tomato,
  "danger": teal,
);

// Reset
// ===================================

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

// custom-style
// ===================================

body {
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: #aaaaaa;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-height {
  position: absolute;
  top: 0;
  padding-left: 11%;
  width: 100%;
  height: 8%;
  background-color: rgb(255, 255, 255);
  z-index: 5;
}
.box-flex {
  position: relative;
  top: 0;
  left: 0;
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.logo-align {
  position: relative;
  width: 360px;
  vertical-align: middle;
}
.img-scale {
  width: 360px;
  height: auto;
}
.instruction {
  position: relative;
  width: calc(100%-300px);
  height: 45px;
  p {
    float: right;
    font-size: 0.9rem;
    line-height: 45px;
    display: inline-block;
    vertical-align: text-bottom;
    color: #727272;
  }
}
.Wbox {
  position: absolute;
  top: 20%;
  padding-left: 12%;
  color: white;
  z-index: 10;
}

img {
  height: 100%;
}
@media screen and (max-width: 1130px) {
  .box-flex {
    position: relative;
    top: 0;
    left: 0;
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: center;
  }
  .logo-align {
    position: relative;
    width: 300px;
    vertical-align: middle;
  }
  .img-scale {
    width: 300px;
    height: auto;
  }
  .instruction {
    position: relative;
    width: 100%;
    height: 25px;
    p {
      font-size: 12px;
      line-height: 25px;
      display: inline-block;
      vertical-align: text-bottom;
      color: #727272;
    }
  }
}
@media screen and (max-width: 540px) {
  .box-flex {
    position: relative;
    top: 0;
    left: 0;
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: center;
  }
  .logo-align {
    position: relative;
    width: 270px;
    vertical-align: middle;
  }
  .img-scale {
    width: 270px;
    height: auto;
  }
  .instruction {
    position: relative;
    width: 100%;
    height: 23px;
    p {
      font-size: 10px;
      line-height: 11px;
      display: inline-block;
      vertical-align: center;
      color: #727272;
    }
  }
}
